<div class="w-full">
    <a class="btn btn-primary  float-end " href="/home/add">
        <i class="fa-solid fa-user"></i>
        Thêm người dùng
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Username</th>
            <th scope="col">Displayname</th>
            <th scope="col">Address</th>
            <th scope="col">Sex</th>
            <th scope="col">email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i < rows.length; i++){ %>
            <tr>
                <th scope="row">
                    <%= i + 1 %>
                </th>
                <td>
                    <%= rows[i].username %>
                </td>
                <td>
                    <%= rows[i].fullname %>
                </td>
                <td>
                    <%= rows[i].address %>
                </td>
                <td>
                    <%= rows[i].sex===1 ? "Nam" : "Nữ" %>
                </td>
                <td>
                    <%= rows[i].email %>
                </td>
                <td>
                    <%= rows[i].role %>
                </td>
                <td>
                    <a href="/home/detail/<%= rows[i].username %>">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a class="icon-link" href="/home/update/<%= rows[i].username %>">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="icon-link" href="/home/delete/<%= rows[i].username %>">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>